<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>StudentRegistration</display-name>
    <servlet-name>StudentRegistration</servlet-name>
    <servlet-class>servelets.StudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistration</servlet-name>
    <url-pattern>/StudentRegistration</url-pattern>
  </servlet-mapping>
  <display-name>hellodatabase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logindetail</display-name>
    <servlet-name>logindetail</servlet-name>
    <servlet-class>servelets.logindetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindetail</servlet-name>
    <url-pattern>/logindetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>questionevalution</display-name>
    <servlet-name>questionevalution</servlet-name>
    <servlet-class>servelets.questionevalution</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionevalution</servlet-name>
    <url-pattern>/questionevalution</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginsucess</display-name>
    <servlet-name>loginsucess</servlet-name>
    <servlet-class>servelets.loginsucess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginsucess</servlet-name>
    <url-pattern>/loginsucess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherexamset</display-name>
    <servlet-name>teacherexamset</servlet-name>
    <servlet-class>servelets.teacherexamset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherexamset</servlet-name>
    <url-pattern>/teacherexamset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>anservalisation</display-name>
    <servlet-name>anservalisation</servlet-name>
    <servlet-class>servelets.anservalisation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anservalisation</servlet-name>
    <url-pattern>/anservalisation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teachervalidation</display-name>
    <servlet-name>teachervalidation</servlet-name>
    <servlet-class>servelets.teachervalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teachervalidation</servlet-name>
    <url-pattern>/teachervalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherloginvalidation</display-name>
    <servlet-name>teacherloginvalidation</servlet-name>
    <servlet-class>servelets.teacherloginvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherloginvalidation</servlet-name>
    <url-pattern>/teacherloginvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quesintodatabase</display-name>
    <servlet-name>quesintodatabase</servlet-name>
    <servlet-class>servelets.quesintodatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quesintodatabase</servlet-name>
    <url-pattern>/quesintodatabase</url-pattern>
  </servlet-mapping>
</web-app>